{% load static %}
<!DOCTYPE html>
<html>
  <head>
	<title>UrlShorter</title>
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
    body{
        background-image: url("{% static 'darkas.png' %}");
        background-size: cover;
    }
      .transparent-div {
        background-color: rgba(39, 39, 39, 0.4); /* Transparent white background */
        padding: 160px;
        text-align: center;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <div class="transparent-div">
        {% if 'create' not in request.path %}
        <form id="postform">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="link" id="link" placeholder="Enter link">
            </div>
            <button type="submit" class="btn btn-primary">Get This Link Shorter</button>
        </form>
        <a href="" id="res" style="color: aliceblue;"></a>
        {% endif %}
      </div>
    </div>
  </body>


<script>
    $(document).on('submit','#postform',function(e){
        e.preventDefault();
    
        $.ajax({
          type:'POST',
          url:'create',
          data:{
            link:$('#link').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(data){
            var x = document.getElementById('res').getAttribute('href');
            $('a').html(window.location.href+data)
            $('#res').attr("href",data)
          }
        });
      });
  </script>
  </html>
